pool: Default
jobs:
- job: start_app
  steps:
  - script: start-wecare
      
- job: start_zap_scan
  dependsOn: start_app
  steps:
  - script: export TARGET_IP=$(curl -XGET -s http://checkip.amazonaws.com/) && python3 -u Walkthrough.py
  - task: CopyFiles@2
    inputs:
      sourceFolder: '$(Build.SourcesDirectory)'
      contents: '*.json'
      targetFolder: $(Build.ArtifactStagingDirectory)
  - task: PublishBuildArtifacts@1
    inputs:
      pathtoPublish: '$(Build.ArtifactStagingDirectory)'
      artifactName: zap_results
      
- job: stop_app
  dependsOn: start_zap_scan
  steps:
  - script: clean-docker || true
  
  
